<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>HotSpringMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%="#{ENV['API_KEY']}"%>&callback=initMap&libraries=places" async defer></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
